.userIcon {
  width: 64px;
  height: 64px;
  cursor: pointer;
  border-radius: 32px;
}

.bioHeader {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.bioName {
  margin-left: 10px;
}

.bioMain {
  margin-top: 1em;
}

.bioWrapper {
  position: sticky;
  top: 1em;
  padding: 1.5rem;
  color: white;
  background-color: #c69676;
  border-radius: 6px;
}

.bioDescription {
  margin-bottom: 10px;
}

.categoryTitle {
  margin-bottom: 8px;
  font-size: 1.2rem;
  font-weight: bold;
}

.categoryTag {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
}

.categoryTag:hover {
  text-decoration: underline;
}
